.col img{
    width: 20vw;
    height: 18vw;
    border-radius: 0%;

}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col img:hover{
    filter: contrast(90%);
}