* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(238, 133, 14);
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 992px){


  /*Barra de navegação*/
  #navbar{
    font-size: x-large;
  }

  #nav-top{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-basis: auto;

  }
  
  #nav-mensagem a{
    color: aqua;
  }
  
  #nav-mensagem{
    font-size: 16px; 
    width:27%; 
    padding-right: 0%;
    color: rgb(255, 255, 255);
    visibility: visible;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav{
    color: white !important;
  }
  
  .navbar-nav .nav-link{
    --bs-nav-link-color: --bs-white;
  }
  
  .nav-link:hover{
    color: white !important;
  }
  
  .navbar{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28333, 256, 256, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
  .navbar-toggler-icon{
    width: 3vw;
    height: 5vh;
  }
  .dropdown-item{
    font-size: 1.5vw;
    color: white;
  }
  
  .dropdown-menu{
   --bs-dropdown-bg: #000000 !important; 
   width: max-content;
  }
  
  /*Navbar com pesquisa*/
  .nav-item-border{
    border-left-style: solid;
    border-color: #fff;
    border-width: 0.12rem;
  }

  .produtos{
    width: 30%;
    height: 20%;
  }

  /*Rodapé*/
  .border-color{
    border-color: rgb(238, 133, 14)!important;
    border-width: 0.2rem !important;
  }

  #principal{
    margin-left: 10%;
    margin-right: 10%;
  }

  #myCarousel{
    text-align: center;
  }

}

@media (max-width: 500px){
  /*Barra de navegação*/
  #nav-top{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-basis: auto;
  }
  
  #nav-mensagem a{
    color: aqua;
  }
  
  #nav-mensagem{
    font-size: 16px; 
    width:27%; 
    padding-right: 0%;
    color: rgb(255, 255, 255);
    visibility: hidden;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav{
    color: white !important;
  }
  
  .navbar-nav .nav-link{
    --bs-nav-link-color: --bs-white;
  }
  
  .nav-link:hover{
    color: white !important;
  }
  
  .navbar{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28333, 256, 256, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
  .navbar-toggler-icon{
    width: 3vw;
    height: 5vh;
  }
  .dropdown-item{
    font-size: 1.5vw;
    color: white;
  }
  
  .dropdown-menu{
   --bs-dropdown-bg: #000000 !important; 
   width: max-content;
  }


}